// COLORS
$color_a:#fff;
$text-color_a:#fff;

$color_b: #0af258;
$color_c:#252627;

$bg-menu: #181818;
$bg-perfil:#000;

$color-dev: #f00;

//FONTS
$title-font: 'nexa_rust_slabblack_shadow_01';
$menu-font: 'HelveticaNeueLTStdCnRegular'; 

