.home {
    width: 586px;
    position: relative;
    
    h1{
       line-height: 52px;
       margin-bottom: 30px;
    }
}

.about {
    
    width: 700px;
    p {
        color: $text-color_a;
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }
}

.skills {
    width: 900px;
    margin: 0 auto;
    .skills-backend,
    .skills-frontend {
        float:left;
        width: 375px;
        color: $text-color_a;
    }
    .skills-frontend{
        float: right;
    }
    ul {
        list-style: none;
        overflow: hidden;
        padding: 0px;
        
       
        li {
            width: 100px;
            float: left;
            margin: 12px;
            font-family: $menu-font; 
            .title-tecnologia {
                display: block;
                padding: 10px 0;
            }
        }
    }
}

.lab {
    width: 981px;
    margin: 0 auto;
    
    position: relative;
    .boxlab {
        display: inline-block;
        width: 300px;
        height: 200px;
        margin: 12px;
        background:  #0af258;
    }
}

section{
.contact {
   
   
    width:500px;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
    overflow: hidden;
    .contact-form ul li.half:first-child {
        margin-left: 0;
    }
    .contact-form ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .contact-form ul li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        overflow: hidden;
        display: block;
        clear: both;
        position: relative;
    }
    .contact-form ul li.half {
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;
    }
    .contact-form input[type="text"],
    .contact-form input[type="email"] {
        width: 100%;
        border: 0;
        background: #37393b;
        height: 50px;
        font-size: 16px;
        color: #8d8d8d;
        padding: 0 20px;
        box-sizing: border-box;
        font-family: $menu-font;
    }
    .contact-form textarea {
        width: 100%;
        border: 0;
        background: #37393b;
        height: 50px;
        font-size: 16px;
        color: #8d8d8d;
        padding: 20px;
        box-sizing: border-box;
        min-height: 150px;
        font-family: $menu-font;
        
    }
}
}

.contact-form .btn {
  
    font-size: 12px;
    font-family: $menu-font;
    text-decoration: none;
    padding: 8px 10px;
    
    float: left;
    border-radius: 4px;
    background: transparent;
    text-transform: uppercase;
    float: right;
    text-align: center;
    margin-right: 10px;
    letter-spacing: 4px;
    font-weight: bold;
    &:hover {
        background: $color_b;
        color: #252627
    }
}

