/* Menu */

#nav_bar {
    background: $bg-menu;
    width: 160px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
    left: 0px;
    .perfil {
        text-align: center;
        background: $bg-perfil;
        padding-bottom: 21px;
        border-bottom: 1px solid $color_b;
        font-family: $menu-font;
        color: $color_a;
        img {
            max-width: 120px;
            border-radius: 50%;
            margin: 37px 0 10px 0;
        }
        h5 {
          font-size: 18px;
          margin: 5px 0;
          font-weight: normal;
            span {
                font-size: 14px;
                display: block;
                padding: 5px 0;
                color: #8d8d8d;
            }
        }
    }
}


/*  Nawigacja  */

#nav_bar .nav {
    display: block;
    position: absolute;
    height: 210px;
    margin-top: 65px;
    width: 100%;
    padding: 0;
    list-style: none;
    font-family: $menu-font;
    
     
}




#nav_bar .nav a {
    font-size: 16px;
    color: $color_a;
    display: block;
    line-height: 45px;
    height: 45px;
    position: relative;
    text-decoration: none;
    padding: 0 0 0 30px;
    >i{
    margin-right: 14px;
    width: 14px;
    font-size: 18px;
    text-align: center;
    position: relative; 
    }
    
}

#nav_bar .nav li.active a,
{
  color: $color_b;
}



 ul.social {
  position: absolute;
  bottom: 20px;
  width: 190px;
  display: block;
  padding: 0; 
  list-style: none;
  text-align: center;
  
 
  li{
      float: left;
      padding: 0 10px;
       a {
  padding: 7px 0;
  display: block;
  font-size: 20px;
  color: #4d4d4e;

&:hover{
  color: $color_b;
      }
       }
    }
  
}


