$primary-fontcolor: #fff;
$secondary-fontcolor: #000;


.section-contact{
    display: flex;
    width: 100%;
    align-self: center;
    height: inherit;
    .layer-transparent{
        background: white url('../../assests/image/contato/bg-contato.jpg') no-repeat center center fixed;
        background-size: cover;
        position: fixed;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        
        z-index: 1;
    }
    .container-section{
        position: relative;
        color: $primary-fontcolor;
        z-index: 2;
        width: 100%;
        align-self: center;
        height: 380px;
        h2{
            // font-family: "Morganite-Black";
            font-size: 30px;
            text-align: center;
            padding: 0;
            margin:0;
        }
        p{
            text-align: center;
            font-size: 24px;
            padding: 0;
            margin: 15px 0;
        }
    }
    ul{
        display: flex;
        width: 70%;
        margin: 0;
        padding: 0;
        list-style: none;
        margin: 0 auto ;
        align-self: center  ;
        li{
            width: 100%;
            display: block;
            text-align: center;
            display: block;
            flex-direction: column;
            padding: 45px 0;
            a{
                text-decoration: none;
                color: $primary-fontcolor;
                font-weight: 700;
            }
            span{
                display: block;
                padding: 10px;
                .icon{
                    font-size: 115px;
                 }
           
                
            }
            
        }
    }
}

.section-contact.blackColor{
    .container-section, ul li a{
        color: $secondary-fontcolor;
    }
}