// Page 
h1 {
    font-family: $title-font;
    color: $text-color_a;
    font-size: 36px;
    
}

.content-page {
   border: 1px solid #f00;;
   margin-left: 160px; 
   padding:  30px;
   overflow: auto;
     section {
       
        z-index: 1;
        
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        .home,
        .about,
        .skills {
            margin-top: 200px;
            position: relative;
        }
    }
}
 .content-page:after {
    content:"";
    display:block;
    clear:both;
    } 

.content-page {
    h1 {
        span {
            font-family: 'nexa_rust_extrasfree';
            font-size: 28px;
        }
    }
}