
$font-title: 'Muli', sans-serif;
$font-text: 'Montserrat', sans-serif;


@font-face {
  font-family: 'Morganite-SemiBoldItalic';
  src: url('/src/assests/fonts/morganite/Morganite-SemiBoldItalic.woff2') format('woff2'),
      url('/src/assests/fonts/morganite/Morganite-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Morganite-ThinItalic';
  src: url('/src/assests/fonts/morganite/Morganite-ThinItalic.woff2') format('woff2'),
      url('/src/assests/fonts/morganite/Morganite-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Morganite-Bold';
  src: url('/src/assests/fonts/morganite/Morganite-Bold.woff2') format('woff2'),
      url('/src/assests/fonts/morganite/Morganite-Bold.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Morganite-Thin';
  src: url('/src/assests/fonts/morganite/Morganite-Thin.woff2') format('woff2'),
      url('/src/assests/fonts/morganite/Morganite-Thin.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Morganite-ExtraBold';
  src: url('/src/assests/fonts/morganite/Morganite-ExtraBold.woff2') format('woff2'),
      url('/src/assests/fonts/morganite/Morganite-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Morganite-MediumItalic';
  src: url('/src/assests/fonts/morganite/Morganite-MediumItalic.woff2') format('woff2'),
      url('/src/assests/fonts/morganite/Morganite-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Morganite-ExtraLightItalic';
  src: url('/src/assests/fonts/morganite/Morganite-ExtraLightItalic.woff2') format('woff2'),
      url('/src/assests/fonts/morganite/Morganite-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Morganite-BoldItalic';
  src: url('/src/assests/fonts/morganite/Morganite-BoldItalic.woff2') format('woff2'),
      url('/src/assests/fonts/morganite/Morganite-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Morganite-Medium';
  src: url('/src/assests/fonts/morganite/Morganite-Medium.woff2') format('woff2'),
      url('/src/assests/fonts/morganite/Morganite-Medium.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Morganite-Blac';
  src: url('/src/assests/fonts/morganite/Morganite-Black.woff2') format('woff2'),
      url('/src/assests/fonts/morganite/Morganite-Black.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Morganite-BookItalic';
  src: url('/src/assests/fonts/morganite/Morganite-BookItalic.woff2') format('woff2'),
      url('/src/assests/fonts/morganite/Morganite-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Morganite-ExtraLight';
  src: url('/src/assests/fonts/morganite/Morganite-ExtraLight.woff2') format('woff2'),
      url('/src/assests/fonts/morganite/Morganite-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Morganite-SemiBold';
  src: url('/src/assests/fonts/morganite/Morganite-SemiBold.woff2') format('woff2'),
      url('/src/assests/fonts/morganite/Morganite-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Morganite-BlackItalic';
  src: url('/src/assests/fonts/morganite/Morganite-BlackItalic.woff2') format('woff2'),
      url('/src/assests/fonts/morganite/Morganite-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Morganite-LightItalic';
  src: url('/src/assests/fonts/morganite/Morganite-LightItalic.woff2') format('woff2'),
      url('/src/assests/fonts/morganite/Morganite-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Morganite-Book';
  src: url('/src/assests/fonts/morganite/Morganite-Book.woff2') format('woff2'),
      url('/src/assests/fonts/morganite/Morganite-Book.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Morganite-ExtraBoldItali';
  src: url('/src/assests/fonts/morganite/Morganite-ExtraBoldItalic.woff2') format('woff2'),
      url('/src/assests/fonts/morganite/Morganite-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Morganite-Light';
  src: url('/src/assests/fonts/morganite/Morganite-Light.woff2') format('woff2'),
      url('/src/assests/fonts/morganite/Morganite-Light.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}


html{
  width: 100%;
  height: 100%;
  background: url(../assests/image/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {

    margin: 0px;
    font-family: $font-text;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .full-screen{
    height: 100%;
  }
  .appflex{
    display: flex;
    flex-direction: column;
    height: 100%;
    .wrapper{
     
      flex-grow: 1;
      flex-basis: auto;
      .container{
        height:100%; 
      }
    }  
  
  }
  .container{
    margin: 0 auto;
    max-width: 1200px;
    border: 1px dotted #f00;
  }
  

 

  