
$font-title: 'Muli', sans-serif;
$font-text: 'Montserrat', sans-serif;

body {
    background: #1f2329; //linear-gradient(253deg, #0cc898, #1797d2, #864fe1);
    background-size: 300% 300%;
    -webkit-animation: Background 25s ease infinite;
    -moz-animation: Background 25s ease infinite;
    animation: Background 25s ease infinite;
    padding: 0px;
    margin: 0px;
    font-family: $font-text
  }
  
  .full-screen {

     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;

  }
  
  .sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 256px;
    transition: all .3s ease;
    .nav{
        font-family: $font-title
    }
  }
  .d28-wrapper{
      background: #2b3138;
  }
  
  @-webkit-keyframes Background {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @-moz-keyframes Background {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes Background {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }