.footer{
    border: 1px solid #f00;
    position: fixed;
    bottom: 0px;
    width: 100%;
    
    color: #fff;
    display: flex;
    justify-content: space-between;
   
    .footer-links{
        padding: 30px;
        font-size: 20px;
        list-style: none;
        margin: 0px;
        
        display: flex;
        a{
            color: #fff;

        }
    }
    .powredby{
        padding: 30px;
    }
    
}