<div id="page" ng-controller="ContactCtrl">
    <section>
         <div class="contact">
             <div class="contact-form">
                    <form id="contact" autocomplete="off">
                    <ul>
                        <li class="half ">

                            <input class="" placeholder="Nome" type="text" name="Nome">
                            <label class=""></label>

                        </li>
                        <li class="half ">
                            <input class="" placeholder="Email" type="email" name="email">
                            <label class=""></label>
                        </li>
                        <li class="">
                            <input class="" placeholder="Assunto" type="text" name="subject">
                            <label class=""></label>
                        </li>
                        <li class="">
                            <textarea class="" placeholder="Mensagem" name="msg"></textarea>
                            <label class=""></label>
                        </li>
                        <li class="submit ">
                            <input id="submit" type="submit" class="btn" value="Enviar">
                        </li>
                    </ul>
                    </form>

                </div>
         </div>
    </section>
</div>