<div id="page" ng-controller="ContactCtrl">
    <section>
         <div class="contact">
             <div class="contact-form">
                    <form id="contact" autocomplete="off">
                    <ul>
                        <li class="half ">

                            <input class="input__field input__field--hoshi" placeholder="Name" type="text" name="Nome">
                            <label class="input__label input__label--hoshi input__label--hoshi-color-2"></label>

                        </li>
                        <li class="half ">
                            <input class="input__field input__field--hoshi" placeholder="Email" type="email" name="email">
                            <label class="input__label input__label--hoshi input__label--hoshi-color-2"></label>
                        </li>
                        <li class="">
                            <input class="input__field input__field--hoshi" placeholder="Subject" type="text" name="subject">
                            <label class="input__label input__label--hoshi input__label--hoshi-color-2"></label>
                        </li>
                        <li class="">
                            <textarea class="input__field input__field--hoshi" placeholder="Message" name="msg"></textarea>
                            <label class="input__label input__label--hoshi input__label--hoshi-color-2"></label>
                        </li>
                        <li class="submit ">
                            <input id="submit" type="submit" class="flat-button" value="SEND">
                        </li>
                    </ul>
                    </form>

                </div>
         </div>
    </section>
</div>