
    <section ng-controller="SkillsCtrl">
        <div class="skills">

            <div class="skills-backend">
                <h1 class="text-center">Back end</h1>
                <ul>
                    <li ng-repeat="item in backend ">
                        <ui-knob value="item.value" options="options"></ui-knob>
                        <span class="title-tecnologia text-center">{{item.tecnologia}}</span>

                    </li>
                </ul>

            </div>
            <div class="skills-frontend">
                <h1 class="text-center">Front end</h1>
                <ul>
                    <li ng-repeat="item in frontend ">
                        <ui-knob value="item.value" options="options"></ui-knob>
                        <span class="title-tecnologia text-center">{{item.tecnologia}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
