<div id="page" ng-controller="AboutCtrl">
    <section>
         <div class="skills">
             <div class="container">
                 <div class="skills-backend">
                     <h1>Back end</h1>
                     <ul>
                         <li>
                             <span>Tecnologia</span>
                         </li>
                     </ul>
                       
                 </div>
                  <div class="skills-frontend">
                     <h1>Front end</h1>
                     <ul>
                         <li>
                             <span>Teclogia</span>
                         </li>
                     </ul>
                       
                 </div>
             </div>
         </div>
     </section>
</div>